body{
    background-color: rgb(97, 97, 167);
    color:rgb(255, 255, 255);
    /* margin: 50px; */
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}

h2{
    margin-left: 20px;
    margin-right: 20px;
}
#formulario{
    margin:auto;
    text-align: right;
    padding-right: 150px;
    padding-left: 150px;
    /* background-color: rgb(79, 79, 91); */
    
}

input {
    width: 190px;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border:none;
    /* border: 2px solid #ccc; */
    border-radius: 4px;
    
  }
select {
    width: 190px;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border:none;
    /* border: 2px solid #ccc; */
    border-radius: 4px;
    
  }
